@mixin button(
  $background-colour: #3333dd,
  $border-colour: color-mix(in srgb, $background-colour 90%, #000000 10%)
) {
  background-color: $background-colour;

  border: 1px solid $border-colour;
  border-radius: 100px;

  height: 3em;
  padding: 1em;
  font-size: large;
  cursor: pointer;

  color: #ffffff;
  transition:
    background-color 0.3s,
    border-color 0.3s;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover:not([disabled]) {
    background-color: color-mix(in srgb, $background-colour 85%, #000000 15%);
    border-color: color-mix(in srgb, $border-colour 85%, #000000 15%);
  }
}

@mixin button-disabled(
  $background-colour: #3333dd,
  $border-colour: color-mix(in srgb, $background-colour 90%, #000000 10%)
) {
  &[disabled] {
    background-color: color-mix(in srgb, $background-colour 85%, #000000 15%);
    border-color: color-mix(in srgb, $border-colour 85%, #000000 15%);

    cursor: not-allowed;
  }
}
