@mixin scrollbar(
  $backgroundColour: #1f1f1f,
  $thumbColour: #3f3f3f,
  $borderColour: #000000
) {
  &::-webkit-scrollbar {
    background-color: $backgroundColour;
    border: 1px solid $borderColour;
    border-radius: 999px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color: $thumbColour;
    border-left: 1px solid $borderColour;
    border-right: 1px solid $borderColour;

    &:hover {
      background-color: color-mix(in srgb, $thumbColour 75%, #ffffff 25%);
    }
  }
}
